body {
  background-color: $body-bg-light;
  color: $color-light;
  &.dark {
    background-color: $body-bg-dark;
    color: $color-dark;
  }
}

.#{$prefix}-layout {
  &-sider {
    background-color: $bg-light;
    .sider-header {
      background-color: $bg-light;
    }
  }
}

.page-header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 245, 245, 1) 45%
  );
}

.#{$prefix}-menu-light {
  &.#{$prefix}-menu-root.#{$prefix}-menu-inline {
    border-inline-end: 0;
    border-right-width: 0;
  }
}

.dark {
  .#{$prefix}-layout {
    &-header {
      background-color: $bg-dark;
    }
    &-sider {
      background-color: $bg-dark;
      .sider-header {
        background-color: $bg-dark;
      }
    }
  }

  .page-header {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 45%
    );
  }
}
