$prefix: 'qt';
// $bg-light: #fff;
// $bg-dark: #001529;

$body-bg-light: #f5f5f5;
$sider-bg-light: #fff;
$header-bg-light: #fff;
$color-light: rgba(0, 0, 0, 0.88);

$body-bg-dark: #000;
$sider-bg-dark: #001529;
$header-bg-dark: #001529;
$color-dark: rgba(255, 255, 255, 0.85);
